@charset 'utf-8';

.skill_list>li{
  width:32%;
}
.skill_list>li:nth-child(4),
.skill_list>li:nth-child(5){
  width:50%;
}








/* 테블릿 스타일 */
@media (max-width:960px){
  
}






/* 모바일 스타일 */
@media (max-width:767px){
  .skill_list>li{
    width:50%;
  }
  .skill_list>li:nth-child(5){
    width:100%;
  }
}